body {
    background-color: red;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    padding-top: 100px;
    

  
}

.card {
    background-color: red;
    width: 80%;
    max-width: 600px;
    margin: auto;
    padding: 30px;
    border-radius: 15px;
}

h1 {
    color: blue;
}

p {
    color: black;
}

button {
    background-color:pink;
    color: black;
    border: none;
    padding: 11px 25px;
    border-radius: 8px;
    cursor: pointer;
  
}

button:hover {
    background-color:white;
  transform: scale(0.9) ;
}

#trollButton {
    position: absolute;
    left: 55%;
    top: 209px;

}

 #Yesbutton {
   position: absolute;
   left: 25%;
   top: 209px;
   
 }

#emoji {
  position: absolute;
  left: 198px;
  top: 42px;
  font-size: 50px;
}

#emojitwo {
  position: absolute;
  left: 8pxpx;
  top: 176px;
  font-size: 50px;
}

body::before {
    content: "💖";
    font-size: 50px;
    position: absolute;
    top: 42px;
    left: 8px;
}

body::after {
    content: "💖";
    font-size: 50px;
    position: absolute;
    top: 176px;
    left: 198px;
}
button:hover {
    background-color:white;
  transform: scale(0.9) ;
}

#trollButton {
    position: absolute;
    left: 377px;
    top: 209px;

}

 #Yesbutton {
   position: absolute;
   left: 171px;
   top: 209px;
   
 }

#emoji {
  position: absolute;
  left: 198px;
  top: 42px;
  font-size: 50px;
}

#emojitwo {
  position: absolute;
  left: 8pxpx;
  top: 176px;
  font-size: 50px;
}

body::before {
    content: "💖";
    font-size: 50px;
    position: absolute;
    top: 42px;
    left: 8px;
}

body::after {
    content: "💖";
    font-size: 50px;
    position: absolute;
    top: 176px;
    left: 198px;
}
button:hover {
    background-color:white;
  transform: scale(0.9) ;
}

#trollButton {
    position: absolute;
    left: 110%;
    top: 300px;

}

 #Yesbutton {
   position: absolute;
   left: 55%;
   top: 300px;
   
 }

#emoji {
  position: absolute;
  left: 280px;
  top: 20px;
  font-size: 50px;
}

#emojitwo {
  position: absolute;
  left: 20pxpx;
  top: 210px;
  font-size: 50px;
}

body::before {
    content: "💖";
    font-size: 50px;
    position: absolute;
    top: 50px;
    left: 20px;
}

body::after {
    content: "💖";
    font-size: 50px;
    position: absolute;
    top: 245px;
    left: 280px;
}
